<h1>Serienliste</h1>

<table class="table">
  <thead class="thead-dark">
  <th>Bezeichnung</th>
  <th></th>
  </thead>
  <tbody>
  <tr *ngFor="let shows of tvShows" (click)="detailInfo(shows)">
    <td>{{shows.label}}</td>
    <td><button class="btn btn-danger" (click)="del(shows)">del</button></td>
  </tr>
  </tbody>
</table>
