<h1>Serie hinzufügen</h1>

<table class="table">
  <thead>
  </thead>
  <tbody>
  <tr>
    <td>Bezeichnung</td>
    <td><input type="text" class="form-control" id="labelInput" name="labelInput" placeholder="Game Of Thrones"
               [(ngModel)]="label">
    </td>
  </tr>
  </tbody>
</table>
<button class="btn btn-primary" (click)="save()">Speichern</button>
